<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

  <header>
  <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <form method="POST" action="/calculate">
        <label for="item_weight">Weight of Item (in ounces):</label><br>
        <input type="text" name="item_weight" required> oz<br><br>

        <label for="mail_type">Type of Mail:</label><br>
        <select name="mail_type" required>
          <option value="" selected disabled>Select a Type</option>
          <% mail.forEach( (item) => { %>
            <option value="<%= item.value %>"><%= item.name %></option>
          <% }) %>
        </select>

        <br>
        <br>

        <input type="submit" value="Submit">
      </form>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  </body>
</html>