<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

  <header>
  <%- include('../partials/header'); %>
  </header>


  <main>
    <div class="jumbotron">
      Showing rates
      <div>
        <%- item_weight %>
      </div>
      <div>
        <%- mail_type %>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  </body>
</html>